.nopadding {
    padding: 0 !important;
    margin: 0 !important;
}

.noradius {
    border-radius: 0;
}

.pointer{
    cursor:pointer;
}

.title {
    width: 100%;
    padding: 10px 20px 10px 30px;
    margin-bottom: 0;
    border-bottom: 1px solid #d9d9d9;
    font-family:"黑体";
    font-size: 30px;
    font-weight: normal;
    line-height: 30px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    border-radius: 0;
    box-shadow: none;
    border: lightgrey solid thin;
    outline: none;
}



#article .list-group-item, #folder .list-group-item {
    border-left: none;
    border-right: none;
    border-top:none;
    border-bottom: lightgrey solid thin;
    margin-bottom: 0px;
}
#article .list-group-item:first-child, #folder .list-group-item{
    border-radius: 0;
}
#article .list-group-item:last-child, #folder .list-group-item{
    border-radius: 0;
}

.article-item {
    /*font-size: 20px !important;*/
}

.article-item.active, .article-item.hover {
    /*background-color: #d1c091 !important;*/
    background-color: lightskyblue !important;
    border-color: lightskyblue !important;
}

.article-item-footer {
    color:gray;
    font-size: 10px;
    font-style: italic;
    padding-left: 10px;
    margin-top: 10px;
    margin-bottom: -10px;
}

.article-item-footer span {
    margin-right:24px;
}
.article-item-title {
    color:black;
    font-size: 20px;
}

.article-item-content {
    color: dimgray;
    font-size: 14px;
}

.folder-item, .new-folder-item{
    padding-left:  30px;
}

.folder-rename-input {
    width: 65%;
    display:inline;
    padding-left: 10px;
}
.folder-item.active, .folder-item.hover {
    background-color: royalblue !important;
    border-color: royalblue !important;
}

.folder-item #options {
    float: right;
}
.folder-item #options .glyphicon-trash{
    color: red;
    padding-left: 5px;
}
.brief-text {
    width: 65%;
    display:inline-block;
    padding-left: 10px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    -ms-text-overflow: ellipsis;/* IE/Safari */
    -o-text-overflow: ellipsis;/* Opera */
    -moz-binding: url("ellipsis.xml#ellipsis");/*FireFox*/
}

.auto-height {
    overflow-y: auto;
    overflow-x: hidden;
    border: lightgrey solid thin;
    border-right: none;
}

.new-folder, .new-article {
    padding-left: 20px;
    padding-bottom: 10px;
    padding-top: 10px;
    border-bottom: lightgrey solid thin;
}

.no-notes {
    background: #f1f1f1;
    text-align: center;
    width: 100%;
}

.no-notes span {
    vertical-align: middle;
    color: #e4e4e4;
    font-size: 64px;
    text-shadow: 0 1px 0 white;
}

.no-notes:after {
    content: "";
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}
