{% load static %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> {% block title %}Wang Blog{% endblock %}</title>
    <link href="{% static "bootstrap/css/bootstrap.min.css" %}" rel="stylesheet">
    <link href="{% static "summernote/summernote.css" %}" rel="stylesheet">
    <link href="{% static "css/blog.css" %}" rel="stylesheet">
    {% block head %} {% endblock %}
</head>

<body width="100%">
    <nav class="navbar navbar-default noradius nopadding" role="navigation">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-header">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{% url 'index' %}">Wang Blog</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="navbar-collapse-header">
                <ul class="nav navbar-nav navbar-right">
                    {% if user.is_authenticated %}
                        <li><a href="{% url 'writer' %}">写文章</a></li>
                        <li><a href="{% url 'sign_out' %}">登出</a></li>
                    {% else %}
                        <li><a href="{% url 'sign_in' %}">登录</a></li>
                        <li><a href="{% url 'sign_up' %}">注册</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
    <div id="notify" class="notify-tips" ></div>
    {% block body %}

    {% endblock %}

    <script src="{% static "js/jquery.js" %}"></script>
    <script src="{% static "js/js.cookie.js" %}"></script>
    <script src="{% static "js/blog.js" %}"></script>
    <script src="{% static "bootstrap/js/bootstrap.min.js" %}"></script>
    <script src="{% static "summernote/summernote.min.js" %}"></script>

    {% block script %} {% endblock %}
</body>

</html>
