{% extends 'base.html' %}

{% load static %}

{% block body %}
    <div class="container">
        <div class="login-page">

            <h4 class="title">
                <span>
                    <a href="{% url 'sign_in' %}" class="active">登录</a>
                    <b>·</b>
                    <a href="{% url 'sign_up' %}">注册</a>
                </span>
            </h4>
            <div class="sm-width center-block"">
                <div class="form-group">
                    <div class="icon-addon addon-lg">
                        <input type="text" placeholder="邮箱地址" class="form-control" name="email">
                        <label class="glyphicon glyphicon-envelope"></label>
                    </div>
                </div>
                <div class="form-group">
                    <div class="icon-addon addon-lg">
                        <input type="password" placeholder="输入密码" class="form-control" name="password">
                        <label class="glyphicon glyphicon-lock"></label>
                    </div>
                </div>
                <button id="btn-sign-in" class="btn btn-info btn-submit-lg">登录</button>
            </div>
        </div>
    </div>

{% endblock %}
