{% extends 'base.html' %}

{% load static %}

{% block head %}
    <link href="{% static "css/writer.css" %}" rel="stylesheet">
{% endblock %}



{% block body %}

<div class="container-fluid">
    <div class="row">
        <div class="col-xs-2 nopadding">

            <div id="folder" class="list-group auto-height nopadding">
                <div class="new-folder">
                    <a href="#"><span class="glyphicon glyphicon-plus"></span> 新建文集</a>
                </div>
                {% for f in folders %}
                <a class="list-group-item folder-item {% ifequal forloop.counter 1 %} active {% endifequal %}" data-fid={{ f.id }}>
                    <span class="glyphicon glyphicon-folder-open pull-left"></span>
                    <div class="brief-text "> {{ f.name }} </div>
                </a>
                {% endfor %}
            </div>
        </div>
        <div class="col-xs-3 nopadding">
            <div id="notes" class="list-group auto-height nopadding" >
                <div class="new-note">
                    <a href="#"><span class="glyphicon glyphicon-pencil"></span> 新建文章</a>
                </div>

                {% for a in articles %}
                <a class="list-group-item note-item active">
                    <div>
                        <div class="brief-text  note-item-title">{{ a.title }}</div>
                        <span class="glyphicon glyphicon-trash pull-right"></span>
                    </div>
                    <div class="brief-text  note-item-content">
                        {{ a.content }}
                    </div>
                    <div class="note-item-footer">
                        <span style="margin-right:24px;">{{ a.update_time }}</span>
                        <span style="margin-right:24px;">{{ a.num_of_words }}字</span>
                    </div>
                </a>
                {% endfor %}
            </div>
        </div>
        <div class="col-xs-7 nopadding">
            <div>
                <input id="title" type="text" class="title" value="无标题文章" name="title">
            </div>
            <div id="summernote" class="noradus nopadding"></div>
        </div>
    </div>
</div>
{% endblock %}

{% block script %}
    <script src="{% static "js/writer.js" %}"></script>
{% endblock %}
